<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.mvcboard.mapper.BoardMapper">
	<update id="updateBoard" parameterType="com.goodee.mvcboard.vo.Board">
		UPDATE board
		SET board_title = #{boardTitle},
			board_content = #{boardContent},
			updatedate = NOW()
		WHERE board_no = #{boardNo}
		AND member_id = #{memberId}
	</update>
	
	<delete id="deleteBoard" parameterType="com.goodee.mvcboard.vo.Board">
		DELETE FROM board
		WHERE board_no = #{boardNo}
		AND member_id = #{memberId}
	</delete>
	
	<insert id="insertBoard" parameterType="com.goodee.mvcboard.vo.Board">
		<!-- insert 후 생성되는 키 값을 매개변수로 받은 vo 객체에 저장해서 키값 반환 -->
		<selectKey order="AFTER" keyProperty="boardNo" resultType="int">
			SELECT last_insert_id()
		</selectKey>
		INSERT INTO board(local_name, board_title, board_content, member_id, createdate, updatedate)
		VALUES(#{localName}, #{boardTitle}, #{boardContent}, #{memberId}, NOW(), NOW())
	</insert>
	
	<select id="selectBoardOne" parameterType="int" resultType="com.goodee.mvcboard.vo.Board">
		SELECT board_no boardNo, local_name localName, board_title boardTitle, board_content boardContent, member_id memberId, createdate
		FROM board
		WHERE board_no = #{boardNo}
	</select>
	
	<select id="selectLocalNameList" resultType="java.util.Map">
		SELECT	local_name localName, COUNT(*) cnt
		FROM board
		GROUP BY local_name
	</select>
	
	<select id="selectBoardListByPage" parameterType="java.util.Map" resultType="com.goodee.mvcboard.vo.Board">
		SELECT board_no boardNo, local_name localName, board_title boardTitle, member_id memberId, createdate
		FROM board
		<where>
			<if test="localName != null">
				local_name = #{localName}
			</if>
		</where>
		ORDER BY createdate DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectBoardCount" resultType="int">
		SELECT COUNT(*)
		FROM board
	</select>
</mapper>